
.navbar{
    color: white;
}
.navbar-nav img{
    width: 40px;
}

.top-player img{
    width: 50px;
}

.bg-color{
    background-color: #562EFF;
}

body{
    background-color: #F3F1FF;
}
main{
    max-width: 870px;
    background-color: #FFFFFF;
}
.top-player{
    margin-top: 40px;

}
.top-blog img{
    width: 177px;
}
.main2{
    max-width: 870px;
    background-color: #FFFFFF;
}

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    margin-bottom: 10px;
}
.card img{
    width: 98%;
    padding: 5px;
}
.card-bottom img{
    width: 25px;
} 

.checked{
    color: orange;
}
.unchecked{
    color: gray;
}
.card-bottom-time{
    background-color: #FFE4E8;
    border-radius: 15px;
    padding: 2px 5px;
}
.card-bottom{
    margin-top: 20px;
}
