
.navbar{
    color: white;
    
}
.navbar-nav img{
    width: 40px;
}

.top-player img{
    width: 50px;
}

.header-bg-color{
    background-color: #562EFF;
}

body{
    background-color: #F3F1FF;
}
main{
    max-width: 870px;
    background-color: #FFFFFF;
}
.top-player{
    margin-top: 40px;

}
.top-blog img{
    width: 177px;
}
.main2{
    max-width: 870px;
    background-color: #FFFFFF;
}

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    margin-bottom: 10px;
}
.card img{
    width: 98%;
    padding: 5px;
}
.card-bottom img{
    width: 25px;
} 

.checked{
    color: orange;
}
.unchecked{
    color: gray;
}
.card-bottom-time{
    background-color: #FFE4E8;
    border-radius: 15px;
    padding: 2px 5px;
}
.card-bottom{
    margin-top: 20px;
}

.card:hover{
    transform: scale(1.08);
    transition: transform 1s;
}

.footer {
    background-color: #562EFF;
    color: #eeeeee;
    border-top: 1px solid red;
    height: 350px;  /* footer height */
    margin-top: 50px; /* space between content and footer */
    width: 100%;
}

@media only screen and (max-width:968px) and (min-width:768px){
    /* .navbar-brand img{
        padding-left: 0%;
    } */
    .card-bottom img{
        width: 100%;
        display: none;

    }  
} 
@media only screen and (max-width:768px){
    .top-blog h4{
        font-size: 15px;
    }
} 
@media only screen and (max-width:367px){
    .top-player{
        font-size: 10px;
    }
} 
@media only screen and (max-width:991px)and (min-width:650px){
    .navbar-brand{
        margin-left: 5px;
    }
    .navbar-toggler{
        margin-right: 10px;
    }
   
    
    
} 


/* @media only screen and (max-width:991px) and (min-width:768px){
    .navbar-brand{
        margin-left: 5%;
    }

}  */
